In [ ]:
# 1. Basics

In [ ]:
### Exercises: Level 1

In [ ]:
 # 1. Inside 30DaysOfPython create a folder called day_2.

In [ ]:
# Write a python comment saying 'Day 2: 30 Days of python programming'

In [ ]:
day2 =  "30 day of python programming"

In [ ]:
day2

In [ ]:
a = "sagar"
b = "bawankukle"
c = "sagar tarachand bawankule"
d = "nagpur"
e = 'age25'
f = "sagarbawankulevidya@gmail.com"
g = "unmarrid"
h = 'true'
i = 'civil eng.'
j = 'MBA in fiance and HR'

In [ ]:
print(a,b,c,d,e,f,g,h,i,j)

In [ ]:

### Exercises: Level 2

In [ ]:
 types()

In [ ]:
input( 'number is 4:')

In [2]:
num = 56

In [3]:
type(num)

int

In [4]:
x = {}

In [5]:
type(x)

dict

In [8]:
b = ()
print(type(b))

<class 'tuple'>

In [10]:
x = "sagar bawankule"

In [15]:
print(len, type(x))

<built-in function len> <class 'str'>

In [24]:
x = (5)

In [25]:
num_one = 5

In [27]:
num_two = 4

In [28]:
print(num_one)

5

In [37]:
5 +6

11

In [38]:
x = 45564
b = 55555
print(x + b)

101119

In [39]:
c = 45548
d = 45687
print(c -d)

-139

In [40]:
k = 4554**55

In [41]:
print(k)

1627857727025429446662013657348840593910529445105366397949553292771914690479216016254382656982465416749388155807579126447109773727420306575648571670285606783528149653739119765022710152040152027075969024

In [42]:
878-545

333

In [43]:
154788/55

2814.327272727273

In [44]:
44444444444444444444-5555555

44444444444438888889

5555//556

In [46]:
444//2

222

In [47]:
44454554/55

808264.6181818182

In [49]:
# The radius of a circle is 30 meters.

In [51]:
PI = 3.14
r = float(input("Enter the radius of a circle:"))
area = PI * r * r
print("Area of a circle = %.2f" %area)

Enter the radius of a circle: 30

Area of a circle = 2826.00

In [60]:
pI = 3.14
r = float(input("enter the radius of a circle:"))
area = pI * r * r
print(area)

enter the radius of a circle: 55

9498.500000000002

In [1]:
x = 'sagar bawankule'

In [2]:
x

'sagar bawankule'

In [3]:
import math

pi = math.pi
radius = 10  # You can change this value

_area_of_circle_ = pi * radius**2

print(_area_of_circle_)

314.1592653589793

In [26]:
pi = 3.14 
radius = int( input())

_area_of_circle_ = pi * radius **2

print(_area_of_circle_)

 5

78.5

In [27]:
import math

pi = math.pi
radius = 10  # You can change this value

_circum_of_circle_ = 2 * pi * radius

print(_circum_of_circle_)

62.83185307179586

In [28]:
pi = 3.14
radius = 25

_circum_of_circl_ = 2 *pi * radius

print(_circum_of_circle_)

62.83185307179586

In [8]:
x = input('sagar : '' ')

sagar :   bawankule

In [9]:
b = input('surname:')

surname: bawankule

In [10]:
c = input('country name:')

country name: in

In [12]:
 # Run help('keywords') in Python shell or in your file to check for the Python reserved words or keywords

In [13]:
 # 2. Basic-2.

In [15]:
x = int(input('sagar age:'))

sagar age: 25

In [18]:
x = float(input('sagar height:'))

sagar height: 5.6

In [27]:
# Write a script that prompts the user to enter base and height of the triangle and calculate an area of this triangle (area = 0.5 x b x h).

In [50]:
h = int(input('height of triangle:'))
b = int(input('base of triangle:'))
c = (0.5 * h * b)
print(c)

height of triangle: 5
base of triangle: 8

20.0

In [54]:
h = int(input('height:'))
b = int(input('base:'))
c = (0.5 * h *b)
print('area of the triangle:', c)

height: 5
base: 8

area of the triangle: 20.0

In [1]:
# rite a script that prompts the user to enter side a, side b, and side c of the triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).

In [12]:
side_a = int(input())
side_b = int(input())
side_c = int(input())
perimeter = (side_a + side_b + side_c)
print('perimeter angel', perimeter )

 5
 4
 3

perimeter angel 12

In [ ]:
Get length and width of a rectangle using prompt. Calculate its area (area = length x width) and perimeter (perimeter = 2 x (length + width))

In [6]:
length = int(input())
witdh = int(input())
area = (length * width)
print = area

 8
 5

In [5]:
 length = float(input("Enter the length of the rectangle: "))
 width = float(input("Enter the width of the rectangle: "))

  # Calculate area
 area = (length * width)
 print(area)

Enter the length of the rectangle:  8
Enter the width of the rectangle:  5

40.0

In [22]:

    PI = 3.14
    radius = float(input("Enter the radius of the circle: "))
    area = PI * radius 
    print(area)

Enter the radius of the circle:  8

25.12

In [30]:
abc = len('sagar')
print(abc)

5

In [31]:
sentence = "I hope this course is not full of jargon."

if "jargon" in sentence:
  print("'jargon' is found in the sentence.")
else:
  print("'jargon' is not found in the sentence.")

'jargon' is found in the sentence.

In [32]:
text = "python"

# Find the length
text_length = len(text)

# Convert to float and then back to string
string_length = str(float(text_length))

print("Length of 'python':", string_length)

Length of 'python': 6.0

In [33]:
number = int(input("Enter a number: "))

if number % 2 == 0:
  print(number, "is even.")
else:
  print(number, "is odd.")

Enter a number:  5

5 is odd.

In [34]:
number = int(input())

if number% 2 ==0:
   print(number, "is even.")

else:
   print(number, "is odd.")

 8

8 is even.

In [35]:
floor_division = 7 // 3
converted_int = int(2.7)

if floor_division == converted_int:
  print("Floor division of 7 by 3 is equal to the int converted value of 2.7 (incorrect)")
else:
  print("They are not equal (correct!)")

Floor division of 7 by 3 is equal to the int converted value of 2.7 (incorrect)

In [36]:
num_str = "10"
num_int = 10

if type(num_str) == type(num_int):
  print("Type of '10' is equal to type of 10 (Not quite!)")
else:
  print("Type of '10' is NOT equal to type of 10 (Correct!)")

Type of '10' is NOT equal to type of 10 (Correct!)

In [37]:
try:
  converted_int = int("9.8")
  # This line will not be executed because the conversion fails
  if converted_int == 10:
    print("int('9.8') is equal to 10 (incorrect)")
except ValueError:
  print("Conversion to integer fails as '9.8' is not a whole number.")

Conversion to integer fails as '9.8' is not a whole number.

In [38]:
Writ a script that prompts the user to enter hours and rate per hour. Calculate pay of the person?

```py
Enter hours: 40
Enter rate per hour: 28
Your weekly earning is 1120

SyntaxError: invalid syntax (890504502.py, line 3)

In [41]:
hours = int(input())
rate_per_hour = int(input())
b = (hours * rate_per_hour)
print(b)

 5
 8

40

In [42]:
Write a script that prompts the user to enter number of years. Calculate the number of seconds a person can live. Assume a person can live hundred years

```py
Enter number of years you have lived: 100
You have lived for 3153600000 seconds.
```

SyntaxError: invalid syntax (3867915896.py, line 1)

In [43]:
for i in range(1, 6):
  # Print the first element (i)
  print(i, end=" ")

1 2 3 4 5

In [44]:
for i in range(1,8):
    print(i)

1
2
3
4
5
6
7

In [45]:
#3. Str#ng Basic

In [46]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [47]:
# 4. String Method

In [48]:
Concatenate the string 'Thirty', 'Days', 'Of', 'Python' to a single string, 'Thirty Days Of Python'.

SyntaxError: invalid syntax (3357290130.py, line 1)

In [49]:
x = 'thirty'
b = 'days'
c = 'of'
d = 'python'
print(x,b,c,d)

thirty days of python

In [50]:
Concatenate the string 'Coding', 'For' , 'All' to a single string, 'Coding For All'.

SyntaxError: invalid syntax (2963050749.py, line 1)

In [53]:
 c = ('coding', 'for', 'all')
print(c)

('coding', 'for', 'all')

In [54]:
x = 'vidyasagar'
b =5545
print(x, b)

vidyasagar 5545

In [55]:
x = 'vidyasagar'
print(x)

vidyasagar

In [56]:
x =len(input())

 vidyasagar

In [58]:
x= len('vidyaSagar')
print(x)

10

In [62]:
b = len(input('name:'))

name: sagar

In [63]:
text = "hello world"
uppercase_text = text.upper()
print(uppercase_text)  # Output: HELLO WORLD

HELLO WORLD

In [64]:
ab = "sagar bawankule"
uppercase_text = ab.upper()
print(uppercase_text)

SAGAR BAWANKULE

In [65]:
 Change all the characters to lowercase letters using _lower()_ method.

SyntaxError: invalid syntax (1496199408.py, line 1)

In [ ]:
abc = "sagar bawankule"

In [66]:
text = "HELLO WORLD"
lowercase_text = text.lower()
print(lowercase_text)  # Output: hello world

hello world

In [67]:
abc = "sagar bawankule"
lowercase_text = abc.lower()

print(lowercase_text)

sagar bawankule

In [68]:
text = "_Coding For All_"

# Capitalize the first letter of the entire string
capitalized_text = text.capitalize()
print(capitalized_text)  # Output: _Coding For All_

_coding for all_

In [71]:
text = "_Coding For All_"

words = text.split()
print(words)

['_Coding', 'For', 'All_']

In [72]:
text = "_Coding For All_"
if "Coding" in text:
  print("The word 'Coding' is found in the text.")
else:
  print("The word 'Coding' is not found in the text.")

The word 'Coding' is found in the text.

In [75]:
sagar = "bawankule dd"
if "bawankule" in text:
    print("sagar bawankule")

else:
    print("sagar is not")

sagar is not

In [76]:
text = "Coding For All"
new_text = text.replace("Coding", "Python")
print(new_text)  # Output: Python For All

Python For All

In [77]:
text = "Python for Everyone"
new_text = text.replace("Everyone", "All")
print(new_text)  # Output: Python for All

Python for All

In [78]:
Split the string 'Coding For All' using space as the separator (split()) .

SyntaxError: invalid syntax (953404954.py, line 1)

In [79]:
text = "Coding For All"
words = text.split()  # Split the string using space as the separator
print(words)  # Output: ['Coding', 'For', 'All']

['Coding', 'For', 'All']

In [80]:
text = "Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon"
companies = text.split(",")  # Split the string at the commas

# Print the list of companies
print(companies)

['Facebook', ' Google', ' Microsoft', ' Apple', ' IBM', ' Oracle', ' Amazon']

In [82]:
text = "_Coding For All_"
character = text[0]
print(character)  # Output: _

_

In [85]:
text = "_Coding For All_"
last_index = len(text) - 8
print(last_index)  # Output: 16

8

In [87]:
text = "Coding For All"

try:
  # Access the character at index 10
  character = text[10]
  print(character)  # Output: " " (space)
except IndexError:
  print("Index out of range. String length is", len(text))

In [89]:
text = "Coding For All"

try:
  # Find the index of the first 'C'
  position = text.index("d")
  print("The first 'C' is at position:", position)
except ValueError:
  print("The character 'C' is not found in the string.")

The first 'C' is at position: 2

In [91]:
text = "Coding For All People"

try:
  # Find the last index of 'l' using rfind
  position = text.rfind("5")
  if position != -1:
    print("The last 'l' is at position:", position)
  else:
    print("The character 'l' is not found in the string.")
except ValueError:
  print("An error occurred while searching for 'l'.")  # Handle potential unexpected errors

The character 'l' is not found in the string.

In [92]:
sentence = "You cannot end a sentence with because because because is a conjunction"

try:
  # Find the first occurrence of 'because' using index
  position = sentence.index("because")
  print("The first 'because' is at position:", position)
except ValueError:
  print("'because' is not found in the sentence.")

The first 'because' is at position: 31

In [93]:
sentence = "You cannot end a sentence with because because because is a conjunction"

# Starting and ending positions of the phrase (inclusive)
start_pos = 28  # Index of the first 'b' in "because"
end_pos = 49  # Index of the last 'e' in "because" (end_pos is exclusive in slicing)

sliced_phrase = sentence[start_pos:end_pos]

print(sliced_phrase)  # Output: "because because because"

th because because be

In [97]:
sentence = "You cannot end a sentence with because because because is a conjunction"

try:
  # Find the first occurrence of 'because' using index
  position = sentence.index("is")
  print("The first 'because' is at position:", position)
except ValueError:
  print("'because' is not found in the sentence.")

The first 'because' is at position: 55

In [95]:
sentence = "You cannot end a sentence with because because because is a conjunction"

# Starting and ending positions (inclusive for start, exclusive for end)
start_pos = 28  # Index of the first 'b' in "because"
end_pos = 49  # Index of the last 'e' in "because" (end_pos is exclusive)

sliced_phrase = sentence[start_pos:end_pos]

print(sliced_phrase)  # Output: "because because because"

th because because be

In [98]:
text = '&nbsp;&nbsp; Coding For All &nbsp;&nbsp;&nbsp; &nbsp;'
stripped_text = text.strip()
print(stripped_text)  # Output: Coding For All

&nbsp;&nbsp; Coding For All &nbsp;&nbsp;&nbsp; &nbsp;

In [101]:
python_libs = ["Django", "Flask", "Bottle", "Pyramid", "Falcon"]

joined_string = "   ".join(python_libs)

print(joined_string)

Django   Flask   Bottle   Pyramid   Falcon

In [105]:
text = "I am enjoying this challenge.\nI just wonder what is next."

print(text)

I am enjoying this challenge.
I just wonder what is next.

In [107]:
print(input("Name\tAge\tCountry\tCity"))

Name	Age	Country	City sagat

sagat

In [110]:
radius = 10
area = 3.14 * radius ** 2

print(f"radius = {radius}")
print(f"area = {area:.2f} meters square")  # Format area to 2 decimal places
print(f"The area of a circle with radius {radius} is {area:.2f} meters square.")

radius = 10
area = 314.00 meters square
The area of a circle with radius 10 is 314.00 meters square.

In [111]:

```sh
8 + 6 = 14
8 - 6 = 2
8 * 6 = 48
8 / 6 = 1.33
8 % 6 = 2
8 // 6 = 1
8 ** 6 = 262144
```

SyntaxError: invalid syntax (3669654853.py, line 1)

In [115]:
8 +9, 8+888

(17, 896)

In [118]:
b = []

In [119]:
print(type(b))

<class 'list'>

In [ ]:
c = {

In [2]:
x = 'sagar

In [3]:
print(x)

sagar

In [5]:
 # 6. List Methods

In [6]:
x = ['sagar','bawankule', 'age', 'nagpur']

In [7]:
print(x)

['sagar', 'bawankule', 'age', 'nagpur']

In [13]:
print(len(x),)

4

In [15]:
print(index[2], x)

NameError: name 'index' is not defined

In [21]:
x.index('sagar')

0

In [22]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

In [23]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [24]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [25]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
number_of_companies = len(it_companies)
print(number_of_companies)

7

In [32]:
it_companies.index('Google')

1

In [38]:
for i in it_companies:

   print(i)

Facebook
Google
Microsoft
Apple
IBM
Oracle
Amazon

In [39]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Modify the element at index 2 (Microsoft)
it_companies[2] = "Meta"

print(it_companies)

['Facebook', 'Google', 'Meta', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [40]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Add a new company (assuming duplicates are allowed)
it_companies.append("Alibaba")

print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Alibaba']

In [41]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Modify the element at index 2 (Microsoft)
it_companies[5] = "It"

print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'It', 'Amazon']

In [43]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

joined_string = "#;&nbsp; ".join(it_companies)

print('joined_String')

joined_String

In [45]:

it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Sort the list in ascending order (default)
it_companies.sort()

print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

In [46]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Reverse the list in descending order
it_companies.reverse()

print(it_companies)

['Amazon', 'Oracle', 'IBM', 'Apple', 'Microsoft', 'Google', 'Facebook']

In [54]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Get the first 3 companies using slicing
first_three = it_companies[4:7]  # Slice up to, but not including, index 3

print(first_three)

['IBM', 'Oracle', 'Amazon']

In [64]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Get the first 3 companies using slicing
first_three = it_companies[3]  # Slice up to, but not including, index 3

print(first_three)

Apple

In [65]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Get the first 3 companies using slicing
first_three = it_companies[-3]  # Slice up to, but not including, index 3

print(first_three)

IBM

In [67]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Remove the element at index 0 (first company)
del it_companies[4]

print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'Oracle', 'Amazon']

In [74]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Remove the element at index 0 (first company)
del it_companies[1:5]

print(it_companies)

['Facebook', 'Oracle', 'Amazon']

In [78]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Delete the reference to the list
del it_companies[5]

print(it_companies)

# Trying to access it_companies will now result in an error
# print(it_companies)  # This will cause an error

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Amazon']

In [79]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

combined_list = list1 + list2

print(combined_list)

[1, 2, 3, 4, 5, 6]

In [82]:
 front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
 back_end = ['Node','Express', 'MongoDB']

 x = front_end + back_end
 print(x)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [84]:
# Define the lists
front_end = ["HTML", "CSS", "JavaScript"]
back_end = ["Python", "Java", "Node.js"]
frameworks = ["React", "Angular", "Vue", "Redux"]

# Join the front-end and back-end lists using concatenation
all_tech = front_end + back_end

# Copy the joined list and assign it to a new variable
full_stack = all_tech.copy()  # Using copy() to create an independent copy

# Insert Python and SQL after Redux in the full_stack list
full_stack.insert(full_stack.index("vue") + 1, "Python")
full_stack.insert(full_stack.index("Python") + 1, "SQL")

print(full_stack)

ValueError: 'vue' is not in list

In [86]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(ages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [87]:
my_list = [5, 2, 8, 1, 9]
my_list.sort()  # Sorts the list in ascending order (default)
print(my_list)

[1, 2, 5, 8, 9]

In [88]:
my_list = [5, 2, 8, 1, 9]

# Sort the list in ascending order
my_list.sort()

# Find the minimum and maximum ages
min_age = my_list[0]
max_age = my_list[-1]

# Option 1: Add min and max to the beginning (modifies the sorted list)

# Insert min_age at the beginning
my_list.insert(0, min_age)

# Insert max_age at the end (after sorting, it will be at the second-to-last position)
my_list.insert(len(my_list) - 1, max_age)

print(my_list)

[1, 1, 2, 5, 8, 9, 9]

In [91]:
my_list = [5, 2, 8, 1, 9]

# Sort the list in ascending order
my_list.sort()

# Find the list length
list_length = len(my_list)

print(list_length)

5

In [92]:
my_list = [5, 2, 8, 1, 9]

# Calculate the sum of all ages
total_age = sum(my_list)

# Find the list length
list_length = len(my_list)

# Calculate the average age
average_age = total_age / list_length

print(f"Average age: {average_age}")

Average age: 5.0

In [93]:
my_list = [5, 2, 8, 1, 9]

# Sort the list in ascending order (optional, but recommended for clarity)
my_list.sort()

# Find the minimum and maximum ages directly from the sorted list
min_age = my_list[0]
max_age = my_list[-1]

# Calculate the age range (difference between max and min)
age_range = max_age - min_age

print(f"Range of ages: {age_range}")

Range of ages: 8

In [96]:
my_list = [5, 2, 8, 1, 9]

# Sort the list in ascending order (optional, but recommended for clarity)
my_list.sort()

# Find the minimum and maximum ages
min_age = my_list[0]
max_age = my_list[-1]

# Calculate the sum of all ages
total_age = sum(my_list)

# Find the list length
list_length = len(my_list)

# Calculate the average age
average_age = total_age / list_length

print(average_age)

5.0

In [97]:
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

# Unpack the first three countries
first_three, *scandinavian_countries = countries

# Verify the unpacked lists
print(f"First three countries: {first_three}")
print(f"Scandinavian countries: {scandinavian_countries}")

First three countries: China
Scandinavian countries: ['Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

In [1]:
# 7. Tuple.

In [4]:
tup = ('sagar', 'bawankule' , 'age')

In [6]:
tup[2]

'age'

In [7]:
x = ()

In [8]:
print(type(x))

<class 'tuple'>

In [9]:
b = ( 'sagar', 'bawankule')

In [10]:
c = ('age')

In [13]:
x.join(b,c)
print(x)

AttributeError: 'tuple' object has no attribute 'join'

In [16]:
p = b+c
print(p)

TypeError: can only concatenate tuple (not "str") to tuple

In [17]:
# Create separate tuples for brothers and sisters
brothers = ("John", "David")
sisters = ("Alice", "Emma")

# Concatenate the tuples using the + operator
siblings = brothers + sisters

# Print the siblings tuple
print(siblings)

('John', 'David', 'Alice', 'Emma')

In [18]:
t = ("dagtt",  "ddjdjjd")
n = ("dkkdk", "ffjdjj")
k = t+ n
print(k)

('dagtt', 'ddjdjjd', 'dkkdk', 'ffjdjj')

In [19]:
parents = ("Mom", "Dad")  # Replace with actual names

# Combine siblings and parents into a new tuple
family_members = siblings + parents

# Print the family_members tuple
print(family_members)

('John', 'David', 'Alice', 'Emma', 'Mom', 'Dad')

In [20]:
siblings, *parents = family_members

# Print siblings and parents (parents will be a list)
print(siblings)
print(parents)

John
['David', 'Alice', 'Emma', 'Mom', 'Dad']

In [21]:
fruits = ("apple", "banana", "orange")
vegetables = ("carrot", "potato", "broccoli")
animal_products = ("milk", "cheese", "eggs")

# Join the tuples using the + operator
food_stuff_tp = fruits + vegetables + animal_products

# Print the food_stuff_tp tuple
print(food_stuff_tp)

('apple', 'banana', 'orange', 'carrot', 'potato', 'broccoli', 'milk', 'cheese', 'eggs')

In [22]:
food_stuff_lt = list(food_stuff_tp)

# Print the food_stuff_lt list
print(food_stuff_lt)

['apple', 'banana', 'orange', 'carrot', 'potato', 'broccoli', 'milk', 'cheese', 'eggs']

In [28]:
x = ['apple', 'banana', 'orange', 'carrot', 'potato', 'broccoli', 'milk', 'cheese', 'eggs']
b = x[1:5]
print(b)

['banana', 'orange', 'carrot', 'potato']

In [29]:
x = ['apple', 'banana', 'orange', 'carrot', 'potato', 'broccoli', 'milk', 'cheese', 'eggs']
b = x[1:3]
print(b)

['banana', 'orange']

In [30]:
food_stuff_tp = ("apple", "banana", "orange")  # Create the tuple

# Delete the tuple (indirectly)
food_stuff_tp = None

# Now food_stuff_tp doesn't refer to any existing tuple
print(food_stuff_tp)  # Output: None

None

In [31]:
fruits = ("apple", "banana", "orange")

# Check if an item exists
item_to_find = "apple"
if item_to_find in fruits:
  print(f"{item_to_find} is in the fruits tuple.")
else:
  print(f"{item_to_find} is not in the fruits tuple.")

apple is in the fruits tuple.

In [32]:
 # 8. Set and Operation

In [34]:
fruits = ("apple", "banana", "orange")
x = len(fruits)
print(x)

3

In [42]:

b = fruits.add("sagar")
print(b)

AttributeError: 'tuple' object has no attribute 'add'

In [44]:
fruits = ("apple", "banana", "orange")

fruits.add('sagar')
print(fruits)

AttributeError: 'tuple' object has no attribute 'add'

In [45]:
# Create a list of companies to add
new_companies = ["Facebook", "IBM", "Netflix"]

# Add the companies to the set using update()
it_companies.update(new_companies)

# Print the updated set (optional)
print(it_companies)

NameError: name 'it_companies' is not defined

In [46]:
my_set = {"apple", "banana", "orange"}

try:
  my_set.remove("mango")  # Raises KeyError because "mango" is not present
except KeyError:
  print("mango is not found in the set")

my_set.discard("mango")  # Does nothing because "mango" is not present (no error)

print(my_set)  # Output: {"apple", "banana", "orange"}

mango is not found in the set
{'apple', 'orange', 'banana'}

In [47]:
set_A = {"apple", "banana", "orange"}
set_B = {"mango", "grapefruit", "apple"}

combined_set = set_A | set_B

print(combined_set)  # Output: {"apple", "banana", "orange", "mango", "grapefruit"}

{'mango', 'apple', 'orange', 'banana', 'grapefruit'}

In [48]:
et_A = {"apple", "banana", "orange"}
set_B = {"mango", "grapefruit", "apple"}

intersection = set_A.intersection(set_B)

print(intersection)

{'apple'}

In [ ]:
set_A = {"apple", "banana"}
set_B = {"mango", "grapefruit"}

In [49]:
set_A = {"apple", "banana"}
set_B = {"mango", "grapefruit", "apple"}

# Join A with B using the union operator
joined_set_1 = set_A | set_B

# Join B with A using the union operator
joined_set_2 = set_B | set_A

print(joined_set_1)  # Output: {"apple", "banana", "mango", "grapefruit"}
print(joined_set_2)  # Output: {"apple", "banana", "mango", "grapefruit"}

{'mango', 'apple', 'banana', 'grapefruit'}
{'mango', 'apple', 'banana', 'grapefruit'}

In [50]:
set_A = {"apple", "banana", "orange"}
set_B = {"mango", "grapefruit", "apple"}

symmetric_difference = set_A.symmetric_difference(set_B)

print(symmetric_difference)  # Output: {"banana", "grapefruit", "mango", "orange"}

{'mango', 'banana', 'grapefruit', 'orange'}

In [52]:
set_A = {"apple", "banana"}
set_B = {"mango", "grapefruit"}

# Delete sets by assigning None
set_A = None
set_B = None
print(set_A)

# Now set_A and set_B refer to None, not any existing set objects

None

In [53]:
sentence = "I am a teacher and I love to inspire and teach people."

# Split the sentence into a list of words
words = sentence.split()

# Convert the list of words to a set to get unique elements
unique_words = set(words)

# Count the number of unique words
number_of_unique_words = len(unique_words)

print("The sentence:", sentence)
print("Number of unique words:", number_of_unique_words)

The sentence: I am a teacher and I love to inspire and teach people.
Number of unique words: 10

In [54]:
# 9. Dictionary.

In [55]:
type({})

dict

In [56]:
dog = {  # Assuming you have an existing dictionary named 'dog'

  # Add key-value pairs for dog information
  "name": "Fido",
  "color": "brown",
  "breed": "Labrador Retriever",
  "legs": 4,
  "age": 3
}

# Print the updated dictionary (optional)
print(dog)

{'name': 'Fido', 'color': 'brown', 'breed': 'Labrador Retriever', 'legs': 4, 'age': 3}

In [57]:
student = {
  "first_name": "John",
  "last_name": "Doe",
  "gender": "Male",
  "age": 25,
  "marital_status": "Single",
  "skills": ["Programming", "Communication", "Problem-solving"],  # Skills as a list
  "country": "USA",
  "city": "New York",
  "address": "123 Main Street"
}

# Print the student dictionary (optional)
print(student)

{'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 25, 'marital_status': 'Single', 'skills': ['Programming', 'Communication', 'Problem-solving'], 'country': 'USA', 'city': 'New York', 'address': '123 Main Street'}

In [59]:
student_length = len(student)

print("The student dictionary has", student_length, "key-value pairs.")

The student dictionary has 9 key-value pairs.

In [60]:
student = {
  "first_name": "John",
  "last_name": "Doe",
  "gender": "Male",
  "age": 25,
  "marital_status": "Single",
  "skills": ["Programming", "Communication", "Problem-solving"],
  "country": "USA",
  "city": "New York",
  "address": "123 Main Street"
}

# Get the keys as a list
keys = list(student.keys())

# Print the list of keys
print("List of student dictionary keys:", keys)

List of student dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']

In [61]:
student = {
  "first_name": "sagar",
  "last_name": "bawankule",
  "gender": "Male",
  "age": 25,
  "marital_status": "Single",
  "skills": ["Programming", "Communication", "Problem-solving"],
  "country": "INDIA",
  "city": "nagpur",
  "address": "nagpur"
}

# Get the values as a list (using list comprehension)
values = [value for value in student.values()]

# Alternative way (using list())
# values = list(student.values())

# Print the list of values
print("List of student dictionary values:", values)

List of student dictionary values: ['sagar', 'bawankule', 'Male', 25, 'Single', ['Programming', 'Communication', 'Problem-solving'], 'INDIA', 'nagpur', 'nagpur']

In [63]:
student = {
  "first_name": "sagar",
  "last_name": "bawankule",
  "gender": "Male",
  "age": 25,
  "marital_status": "Single",
  "skills": ["Programming", "Communication", "Problem-solving"],
  "country": "INDIA",
  "city": "nagpur",
  "address": "nagpur"
}

# Convert the dictionary to a list of tuples using items() method
list_of_tuples = list(student.items())

# Print the list of tuples
print("List of tuples:", list_of_tuples)

List of tuples: [('first_name', 'sagar'), ('last_name', 'bawankule'), ('gender', 'Male'), ('age', 25), ('marital_status', 'Single'), ('skills', ['Programming', 'Communication', 'Problem-solving']), ('country', 'INDIA'), ('city', 'nagpur'), ('address', 'nagpur')]

In [65]:

student = {
  "first_name": "sagar",
  "last_name": "bawankule",
  "gender": "Male",
  "age": 25,
  "marital_status": "Single",
  "skills": ["Programming", "Communication", "Problem-solving"],
  "country": "INDIA",
  "city": "nagpur",
  "address": "nagpur"
}


# Choose the key to delete (replace with the desired key)
key_to_delete = "age"

# Delete the item using del
del student[key_to_delete]

# Print the modified dictionary (optional)
print(student)

{'first_name': 'sagar', 'last_name': 'bawankule', 'gender': 'Male', 'marital_status': 'Single', 'skills': ['Programming', 'Communication', 'Problem-solving'], 'country': 'INDIA', 'city': 'nagpur', 'address': 'nagpur'}

In [66]:
student1 = {  # Assuming you have a dictionary named student1
  "first_name": "sagar",
  "last_name": "bawankule",
  "age": 25
}

student2 = {  # Assuming you have another dictionary named student2
  "first_name": "Jane",
  "last_name": "Smith",
  "age": 30
}

# "Delete" student1 by setting its variable to None
student1 = None

# Now student1 no longer refers to any existing dictionary object

# Print student2 to show it's still accessible (optional)
print(student2)

{'first_name': 'Jane', 'last_name': 'Smith', 'age': 30}

In [67]:
student1 = {  # Assuming you have a dictionary named student1
  "first_name": "John",
  "last_name": "Doe",
  "age": 25
}

student2 = {  # Assuming you have another dictionary named student2
  "first_name": "Jane",
  "last_name": "Smith",
  "age": 30
}

# "Delete" student1 by setting its variable to None
student1 = None

# Now student1 no longer refers to any existing dictionary object

# Print student2 to show it's still accessible (optional)
print(student2)

{'first_name': 'Jane', 'last_name': 'Smith', 'age': 30}

In [68]:
number1 = int(input("Enter first number \n"))
number2 = int(input("Enter second number \n"))

if number1 == number2:
    print("Both numbers are same")
else:
    if number1 > number2:
        print("First number is bigger than second")
    else:
        print("First number is smaller than second")

Enter first number
 50
Enter second number
 60

First number is smaller than second

In [69]:
num = 1

while num <= 10:
  square = num * num
  cube = num * num * num
  print("Number:", num)
  print("Square:", square)
  print("Cube:", cube)
  print("-" * 10)  # Print separator for readability
  num += 1

Number: 1
Square: 1
Cube: 1
----------
Number: 2
Square: 4
Cube: 8
----------
Number: 3
Square: 9
Cube: 27
----------
Number: 4
Square: 16
Cube: 64
----------
Number: 5
Square: 25
Cube: 125
----------
Number: 6
Square: 36
Cube: 216
----------
Number: 7
Square: 49
Cube: 343
----------
Number: 8
Square: 64
Cube: 512
----------
Number: 9
Square: 81
Cube: 729
----------
Number: 10
Square: 100
Cube: 1000
----------